part of '{{lib_name}}';

final _flavouredFields = Map<String, JsonFlavouredBase{{#flavour_type_deducted}}<{{flavour_type}}>{{/flavour_type_deducted}}>.unmodifiable({
{{#flavoured_fields}}
  '{{key}}': {{value}},
{{/flavoured_fields}}
});

extension {{class_name}}JsonFlavourful on {{class_name}} {
  Map<String, dynamic> toJsonFlavour({{#flavour_type_deducted}}{{flavour_type}}{{/flavour_type_deducted}}{{^flavour_type_deducted}}dynamic{{/flavour_type_deducted}} flavour) {
    final json = toJson();

    for (final key in json.keys.toList()) {
      final flavouredField = _flavouredFields[key];
      if (flavouredField != null) {
        final decision = flavouredField.decide(flavour, json[key]);
        if (decision is JsonInclude) {
          json[key] = decision.value;
        } else {
          json.remove(key);
        }
      }
    }

    return json;
  }
}
